footer {
    background: linear-gradient(90deg, rgba(76, 175, 80, 0.8) 0%, rgba(56, 142, 60, 0.8) 100%), url('./background-leaves.png');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    color: var(--secondary-color);
    text-align: center;
    box-shadow: var(--box-shadow);
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 1rem;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-icons {
    margin-top: 0;
}

footer .social-icons a {
    color: var(--secondary-color);
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

footer p {
    margin: 0.5rem 0;
}
