:root {
    --primary-color: #4CAF50;
    --secondary-color: #ffffff;
    --background-color: #f4f4f9;
    --text-color: #333333;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

header {
    background: linear-gradient(90deg, rgba(76, 175, 80, 0.8) 0%, rgba(56, 142, 60, 0.8) 100%), url('./background-leaves.png');
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: #8B4513; /* Cor do texto */
    font-weight: bold; /* Peso da fonte */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a,
nav ul li button {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px 20px;
    display: block;
    transition: var(--transition);
    font-weight: bold; /* Peso da fonte */
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

nav ul li a:hover,
nav ul li button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    transition: var(--transition);
    font-weight: bold; /* Peso da fonte */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: var(--border-radius);
}



.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
}

.user-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: var(--border-radius);
    top: 100%; /* Para que o dropdown apareça abaixo do texto */
    right: 0;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.user-dropdown .dropdown-button {
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: var(--border-radius);
    font-weight: bold; /* Peso da fonte */
    background: none;
    border: none;
    cursor: pointer;
}

.user-dropdown .dropdown-button:hover {
    background-color: #3e8e41;
}

.login-button {
    background: none;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--border-radius);
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.welcome-text {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
}
